# Notes:
#   - Minimal appveyor.yml file is an empty file. All sections are optional.
#   - Indent each level of configuration with 2 spaces. Do not use tabs!
#   - All section names are case-sensitive.
#   - Section names should be unique on each level.

#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: 0.0.{build}

# you can use {branch} name in version format too
# version: 1.0.{build}-{branch}

# branches to build
branches:
  # whitelist
  only:
    - master
    - dev 
  # blacklist
  except:
    - gh-pages

# Do not build on tags (GitHub and BitBucket)
skip_tags: false

# Start builds on tags only (GitHub and BitBucket)
skip_non_tags: false

# Skipping commits with particular message or from specific user
#skip_commits:
#  message: /.*skip ci.*/      # Regex for matching commit message
#  author: John                                      # Commit author's username, name, email or regexp maching one of these.

# Including commits with particular message or from specific user
#only_commits:
#  message: /build/                # Start a new build if message contains 'build'
#  author: jack@company.com        # Start a new build for commit of user with email jack@company.com

# Skipping commits affecting specific files (GitHub only). More details here: /docs/appveyor-yml
#skip_commits:
#  files:
#    - docs/*
#    - '**/*.html'

# Including commits affecting specific files (GitHub only). More details here: /docs/appveyor-yml
#only_commits:
#  files:
#    - Project-A/
#    - Project-B/

# Do not build feature branch with open Pull Requests
#skip_branch_with_pr: true

# Maximum number of concurrent jobs for the project
max_jobs: 1

#---------------------------------#
#    environment configuration    #
#---------------------------------#

# Build worker image (VM template)
image: Visual Studio 2017

# scripts that are called at very beginning, before repo cloning
init:
  #- pwsh: ./deps.ps1

# clone directory
#clone_folder: c:\projects\myproject

# fetch repository as zip archive
#shallow_clone: true                 # default is "false"

# set clone depth
clone_depth: 5                      # clone entire repository history if not defined

# setting up etc\hosts file
hosts:
  queue-server: 127.0.0.1
  db.server.com: 127.0.0.2

# environment variables
environment:
  my_var1: value1
  my_var2: value2
  coverall:
    secure: 2dkcctTsGqQPGWhvydzFChjctp33OSEkfclaRYUDWkmDIV0uxgSZ4j3rvHMZakm3
  
  # this is how to set encrypted variable. Go to "Encrypt data" page in account menu to encrypt data.
  #my_secure_var1:
  #  secure: FW3tJ3fMncxvs58/ifSP7w==

# environment:
#  global:
#    connection_string: server=12;password=13;
#    service_url: https://127.0.0.1:8090
#
#  matrix:
#  - db: mysql
#    provider: mysql
#
#  - db: mssql
#    provider: mssql
#    password:
#      secure: $#(JFDA)jQ@#$

# this is how to allow failing jobs in the matrix
#matrix:


# build cache to preserve files/folders between builds
#cache:
  #- packages -> **\packages.config  # preserve "packages" directory in the root of build folder but will reset it if packages.config is modified


# enable service required for build/tests
services:
  - mssql2016

#  - iis                 # start IIS

# scripts that run after cloning repository
install:
  # by default, all script lines are interpreted as batch
  - pwsh: ./deps.ps1





#---------------------------------#
#       build configuration       #
#---------------------------------#

# build platform, i.e. x86, x64, Any CPU. This setting is optional.
#platform: Win32 

# to add several platforms to build matrix:
platform:
#  - x86
#  - Any CPU

# build Configuration, i.e. Debug, Release, etc.
#configuration: Release

# to add several configurations to build matrix:
#configuration:
#  - Debug
#  - Release

build: off
#  parallel: true                  # enable MSBuild parallel builds
#  project: sqlscripter.sln      # path to Visual Studio solution or project

  # MSBuild verbosity level
#  verbosity: normal


# scripts to run before build
before_build:

# scripts to run *after* solution is built and *before* automatic packaging occurs (web apps, NuGet packages
# , Azure Cloud Services)
before_package:

# scripts to run after build
after_build:
        - ps: 7z a sqlscripter.zip './src/sqlscripter/out/*';
        - ps: 7z a sqlscripterx64.zip './src/sqlscripter/Win64/*'; 

# to run your custom scripts instead of automatic MSBuild
build_script:
    - dotnet restore ./sqlscripter.sln
    - dotnet publish -c Release -o out ./sqlscripter.sln
    - dotnet publish -c Release -o Win64 --runtime "win-x64" ./sqlscripter.sln

# to disable automatic builds
#build: off

#---------------------------------#
#       tests configuration       #
#---------------------------------#

#test:
  

# to run tests from different categories as separate jobs in parallel
#test:
#  categories:
#    - A            # A category common for all jobs
#    - [UI]         # 1st job
#    - [DAL, BL]    # 2nd job

# scripts to run before tests
before_test:
    - git clone https://github.com/aseduto/minicover.git
    - cd minicover
    - dotnet restore
    - dotnet publish ./src/minicover/minicover.csproj -o out -c Release
    - cd ..
    - sqlcmd -S "(local)\SQL2016" -U sa -P "Password12!" -Q "CREATE DATABASE TESTDB"
    - sqlcmd -S "(local)\SQL2016" -U sa -P "Password12!" -d TESTDB -i ./test/create.sql
    - sqlcmd -S "(local)\SQL2016" -U sa -P "Password12!" -Q "CREATE DATABASE TESTDB2" 

# scripts to run after tests
after_test:

# to run your custom scripts instead of automatic tests
test_script:
    #- cd tools
    #- dotnet restore
    #- dotnet minicover instrument --workdir ../ --assemblies src/**/out/**/*.dll --sources src/**/*.cs
    #- dotnet minicover reset
    #- cd ..
    - dotnet ./minicover/src/minicover/dotnet-minicover.dll instrument --workdir ./ --assemblies src/**/out/**/*.dll --sources src/**/*.cs
    - dotnet  ./src/sqlscripter/out/sqlscripter.dll dbindex -S "(local)\SQL2016" -U sa -P "Password12!" -d TESTDB -i index.txt 
    - dotnet ./src/sqlscripter/out/sqlscripter.dll script -S "(local)\SQL2016" -U sa -P "Password12!" -d TESTDB -i index.txt 
    - dotnet ./src/sqlscripter/out/sqlscripter.dll build -i index.txt -o create.sql
    - pwsh: (gc .\create.sql | out-string) -eq (gc ./test/create.sql | out-string)
    - sqlcmd -S "(local)\SQL2016" -U sa -P "Password12!" -d TESTDB2 -i ./create.sql
    #- cd tools
    #- dotnet minicover report --workdir ../ --threshold 90
    #- pwsh: ls env: | ? {-Not ($_.name -match 'coverall')}
    - dotnet ./minicover/src/minicover/dotnet-minicover.dll report --workdir ../ --threshold 80
    - dotnet ./minicover/src/minicover/dotnet-minicover.dll coverallreport --id $(APPVEYOR_REPO_COMMIT) --servicename appveyor --output coverall.json --token $(coverall) --branch $(APPVEYOR_REPO_BRANCH) --remote origin --remote-url https://github.com/aseduto/sqlscript.git --post https://coveralls.io/api/v1/jobs --threshold 80

# to disable automatic tests
#test: off


#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

artifacts:
    - path: sqlscripter.zip
      name: sqlscripter
    - path: sqlscripterx64.zip
      name: sqlscripterx64
#- path: '.\test\bin\Win32\Release\mg.pdb'
#  name: mg.pdb
#- path: win-release.zip
#  name: win-release

 


#---------------------------------#
#     deployment configuration    #
#---------------------------------#

# providers: Local, FTP, WebDeploy, AzureCS, AzureBlob, S3, NuGet, Environment
# provider names are case-sensitive!
deploy:

  

    # Deploy to GitHub Releases
  - provider: GitHub
    release: $(appveyor_repo_tag_name)
    artifact: sqlscripter.zip
    draft: true
    prerelease: true
    auth_token:
        secure: hRuWi7itZDVgtJo58zJ/Ijk5N73iV6pr2DB9HCZGNGWaHpnQUukAtYlmJgfS+d05
    on:
     appveyor_repo_tag: true       # deploy on tag push only

   

# scripts to run before deployment
before_deploy:

# scripts to run after deployment
after_deploy:

# to run your custom scripts instead of provider deployments
deploy_script:

# to disable deployment
#deploy: off

#---------------------------------#
#        global handlers          #
#---------------------------------#

# on successful build
on_success:
  #- do something

# on build failure
on_failure:
 # - do something

# after build failure or success
on_finish:
  #- do something


#---------------------------------#
#         notifications           #
#---------------------------------#

notifications:

  # Email
  - provider: Email
    to:
      - aseduto@hotmail.com
    subject: 'Build {{status}}'                  # optional
    message: "{{message}}, {{commitId}}, ..."    # optional
    on_build_status_changed: true

 


